<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        * {
            background-color: black;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }

        nav {
            text-align: center;
            font-size: 2em;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <nav><a href="\">HOME</a></nav>
    {% block content %}
    {% endblock %}
</body>

</html>