<style>
    .notesblock {
            width: 50vw;
            border: 1px solid white;
            margin: 1%;
            border-radius: 10px;
            margin-left: 25vw;
            font-size: 2em;
        }
       .link{
            color: red;
       }
       p{  
            font-size:.5em;
            color:grey;
       }
       button{
            font-size: 1em;
       }


</style>

{% extends 'main.html' %}
{% block content %}
<div>

    <span><a href="{% url 'newnote' %}" class="link">+ create new</a></span>
    <span><a href="{% url 'viewbookmarks' %} " class="btn create book">Bookmarks</a></span>
    <div>
        {% for i in notes %}
        <div class="notesblock">
            <a href="{% url 'notes' i.id %}">{{i.title}}</a>
            <p>last edited : {{i.lastedit}}</p>
             <a href="{% url 'delete' i.id %}" class="link button">DELETE</a>
            {%if i.bookmark == 0 %}
            <a href="{% url 'addBookmark' i.id%}" class="'button">Add to Bookmarks</a>
            {%else%}
            <a href="{% url 'deleteBookmark' i.id%}" class="button">Added</a>
            {%endif%}
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}