<style>

        div{
            display:flex;
            justify-content:space-between;
        }
        .notespage{
            text-align: left;
            font-size: 2em;
        }

        h1{
            font-size: 3.5em !important;
        }

        span a{
            color: red;
        }

</style>

{% extends 'main.html' %}
{% block content %}
<div>
    <h1 class="notespage">{{note.title}}</h1>
    <span><a href="{% url 'modifiednote' note.id %}">EDIT</a></span>
</div>
<hr>
<p class="notespage">{{note.description}}</p>
{% endblock %}